.container{
    height: 100vh;
    display: flex;
    justify-content: center;
}

.product-details {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 50px;
    justify-content: center;
    height: 600px;
  }
  
  .product-details img {
    max-width: 400px;
    height: 400px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .description{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  
  .product-details p {
    font-size: 14px;
    line-height: 1.6;
  }
  