.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.heading{
    display: flex;
    justify-content: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: calc(33.333% - 20px);
  margin-bottom: 20px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
    cursor: pointer; 
}

.image img {
  width: 200px;
  height: 200px;
  display: block;
  object-fit: cover;
  padding: 15px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-align: center;
}
